@model Toolmark
@{
    Layout = "_Layout"; ViewBag.Title = "Update a workcase";
}


<h2>Update a workcase <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="CaseNumber ">Case Number</label>
        <input class="form-control" asp-for="CaseNumber " />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <input class="form-control" asp-for="Category" />
    </div>
    <div class="form-group">
        <label asp-for="Email "></label>
        <input class="form-control" asp-for="Email " />
    </div>
    <div class="form-group">
        <label asp-for="Note "></label>
        <input class="form-control" asp-for="Note " />
    </div>
    <div class="form-group">
        <label asp-for="ImageFileName">Image Name</label>
        <input class="form-control" asp-for="ImageFileName" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
        <h2>Update Workcase</h2>
        <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Category</th>
                <th>Email</th>
                <th>Date Of Collected</th>
                <th>Image Name</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CaseNumber</td>
                <td>@Model.Category</td>
                <td>@Model.Email</td>
                <td>@Model.DateOfCollected</td>
                <td>@Model.ImageFileName</td>
                <td>@Model.Note</td>
            </tr>
        </tbody>
    </table>
}